<% layout('master.ejs') %>
<link href="/stylesheets/lanrenzhijia.css" type="text/css" rel="stylesheet"/>
<script src="../plugins/jQuery/jQuery-2.1.4.min.js"></script>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">产品规格管理</h3>
        <button class="btn btn-info" onclick="CompatibilityCLK()">添加</button>
    </div>
    <div class="box-body">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Compatibility</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody class="Compatibility">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>属性</th>
                            <th>所属三级类目</th>
                            <th>操作</th>
                        </tr>
                        <% specifications.compatibility.forEach(function (secondItem) { %>
                        <tr>
                            <th></th>
                            <th><%= secondItem.name %></th>
                            <th><%= secondItem.belong %></th>
                            <th>
                                <button class="btn btn-danger" name="<%= secondItem.name %>" id="compatibility"
                                        onclick="deltobase(this.name,this.id,'<%= secondItem.belong %>')">删除
                                </button>
                            </th>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div><!-- /.box -->
        </div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">type</h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>属性</th>
                            <th>所属三级类目</th>
                            <th>操作</th>
                        </tr>
                        <% specifications.type.forEach(function (secondItem) { %>
                        <tr>
                            <th></th>
                            <th><%= secondItem.name %></th>
                            <th><%= secondItem.belong %></th>
                            <th>
                                <button class="btn btn-danger" name="<%= secondItem.name %>" id="type"
                                        onclick="deltobase(this.name,this.id,'<%= secondItem.belong %>')">删除
                                </button>
                            </th>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div><!-- /.box -->
        </div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">hardOrSoft</h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>属性</th>
                            <th>所属三级类目</th>
                            <th>操作</th>
                        </tr>
                        <% specifications.hardOrSoft.forEach(function (secondItem) { %>
                        <tr>
                            <th></th>
                            <th><%= secondItem.name %></th>
                            <th><%= secondItem.belong %></th>
                            <th>
                                <button class="btn btn-danger" name="<%= secondItem.name %>" id="hardOrSoft"
                                        onclick="deltobase(this.name,this.id,'<%= secondItem.belong %>')">删除
                                </button>
                            </th>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div><!-- /.box -->
        </div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">features</h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>属性</th>
                            <th>所属三级类目</th>
                            <th>操作</th>
                        </tr>
                        <% specifications.features.forEach(function (secondItem) { %>
                        <tr>
                            <th></th>
                            <th><%= secondItem.name %></th>
                            <th><%= secondItem.belong %></th>
                            <th>
                                <button class="btn btn-danger" name="<%= secondItem.name %>" id="features"
                                        onclick="deltobase(this.name,this.id,'<%= secondItem.belong %>')">删除
                                </button>
                            </th>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div><!-- /.box -->
        </div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">pattern</h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>属性</th>
                            <th>所属三级类目</th>
                            <th>操作</th>
                        </tr>
                        <% specifications.pattern.forEach(function (secondItem) { %>
                        <tr>
                            <th></th>
                            <th><%= secondItem.name %></th>
                            <th><%= secondItem.belong %></th>
                            <th>
                                <button class="btn btn-danger" name="<%= secondItem.name %>" id="pattern"
                                        onclick="deltobase(this.name,this.id,'<%= secondItem.belong %>')">删除
                                </button>
                            </th>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div><!-- /.box -->
        </div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Color</h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>属性</th>
                            <th>所属三级类目</th>
                            <th>操作</th>
                        </tr>
                        <% specifications.Color.forEach(function (secondItem) { %>
                        <tr>
                            <th></th>
                            <th><%= secondItem.name %></th>
                            <th><%= secondItem.belong %></th>
                            <th>
                                <button class="btn btn-danger" name="<%= secondItem.name %>" id="Color"
                                        onclick="deltobase(this.name,this.id,'<%= secondItem.belong %>')">删除
                                </button>
                            </th>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div><!-- /.box -->
        </div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">material</h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>属性</th>
                            <th>所属三级类目</th>
                            <th>操作</th>
                        </tr>
                        <% specifications.material.forEach(function (secondItem) { %>
                        <tr>
                            <th></th>
                            <th><%= secondItem.name %></th>
                            <th><%= secondItem.belong %></th>
                            <th>
                                <button class="btn btn-danger" name="<%= secondItem.name %>" id="material"
                                        onclick="deltobase(this.name,this.id,'<%= secondItem.belong %>')">删除
                                </button>
                            </th>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div><!-- /.box -->
        </div>
    </div>
    <!--添加 form start -->
    <div class="form-horizontal  layer_notice hidden" id="addRoboteForm">
        <form class="" hidden="hidden" action="addParam" style="margin-top: 50px" method="post" id="addRote">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">属性</label>

                    <div class="col-sm-6">
                        <select id="pd_select" class="form-control" name="" id="">
                            <option value="compatibility">
                                compatibility
                            </option>
                            <option value="type">
                                type
                            </option>
                            <option value="hardOrSoft">
                                hardOrSoft
                            </option>
                            <option value="features">
                                features
                            </option>
                            <option value="pattern">
                                pattern
                            </option>
                            <option value="Color">
                                Color
                            </option>
                            <option value="material">
                                material
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label">所属三级类目</label>

                    <div class="col-sm-6">
                        <select id="default_category" name="default_category" class="form-control" value="">
                            <% category.forEach(function(item){ %>
                            <% item.secondCategory.forEach(function(items){ %>
                            <% items.thirdTitles.forEach(function(third){ %>
                            <option value="<%= third.thirdTitle %>"><%= third.thirdTitle %></option>
                            <% }) %>
                            <% }) %>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">属性值</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="spec" name="spec">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">操作人</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="add_by" name="add_by">
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <button type="button" id="subaddRobotBtn" class="btn btn-info pull-right closeBtn"
                        onclick="addtobase()">添加
                </button>
            </div>
        </form>

    </div>

</div>

<script>
    function CompatibilityCLK() {
        $('#addRoboteForm').removeClass('hidden');
        $('#addRote').removeClass('hidden');
        $('#addRote').show();
        layer.open({
            type: 1,
            skin: 'layui-layer-rim',
            shade: false,
            title: false, //不显示标题
            content: $('#addRoboteForm'), //捕获的元素
            area: ['400px', "400px"],
            cancel: function (index) {
                layer.close(index);
            },
            scrollbar: false
        });
    }

    function addtobase() {
        var params = {
            property: $("#spec").val(),
            addBy: $("#add_by").val(),
            addProperty: $("#pd_select").find("option:selected").val(),
            belong: $("#default_category").find("option:selected").val()
        }
        console.log(params)
        $.ajax({
            url: 'doAddProperty',
            type: 'POST',
            data: params,
            success: function (retmsgurndata) {
                console.log(retmsgurndata)
                $("#form-signin").hide();
                setTimeout('location.reload()', 1000);
                layer.msg('添加成功');
                layer.closeAll();
                $("#spec").val('');
                $("#add_by").val('');
                $("#default_category").find("option:selected").val('');
                $("#pd_select").find("option:selected").val('Compatibility');

            }, error: function (returndata) {
                alert('更新失败，请检查是否有非法词汇！');
            }
        });
    }

    function deltobase(name, id, belong) {

        var params = {
            property: name,
            addProperty: id,
            belong: belong
        }
        console.log(params)

        $.ajax({
            url: 'doDelProperty',
            type: 'POST',
            data: params,
            success: function (retmsgurndata) {
                console.log(retmsgurndata)
                $("#form-signin").hide();
                setTimeout('location.reload()', 1000);
                layer.msg('删除成功');

            }, error: function (returndata) {
                alert('更新失败，请检查是否有非法词汇！');
            }
        });
    }

</script>
