<% layout('../backend-master.ejs') %>
<script src="/js/md5.js"></script>
<link href="/ueditor/themes/default/_css/umeditor.css" type="text/css" rel="stylesheet">
<link href="/stylesheets/product-detail.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/transport/express.js"></script>
<script type="text/javascript" src="/transport/ordinary.js"></script>
<script src='/js/storage.js'></script>
<script src="/public_web_build/bundle.js"></script>
<script src="/public_cookie_build/bundle.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/_examples/editor_api.js"></script>
<script type="text/javascript" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="/js/product-detail.js"></script>
<script src="../plugins/pick-color/js/tinycolor-0.9.15.min.js"></script>
<script src="../plugins/pick-color/js/pick-a-color-1.2.3.min.js"></script>
<script type="text/javascript">

    layer.load()

    window.onload = function () {
        layer.closeAll('loading')
    }
    $(function () {
        $('.logistics-panel-type').click(function () {
            var index = $(this).index();
            $('#logistic-list .logistics-panel').hide();
            $('#logistic-list .logistics-panel').eq(index).toggle();
        })

        $('.logistic-checkbox').click(function () {
            if ($(this).is(':checked') == true) {
                $(this).parents('tr').find('.standard-logistic').removeAttr("disabled");
                $(this).parents('tr').find('.no-logistic').removeAttr("disabled");
            }
            if ($(this).is(':checked') == false) {
                $(this).parents('tr').find('.standard-logistic').attr("disabled", "true");
                $(this).parents('tr').find('.no-logistic').attr("disabled", "true");

            }
        })
    })
</script>
<link rel="stylesheet" href="/stylesheets/country.css">
<style type="text/css">
    .input-group-addon {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }

    .mainlayout {
        max-width: 84%;
        margin: 0 auto;
    }

    .yunfei-form-group {
        margin-bottom: 5px !important;
    }

    .standard-select-country {
        height: 200px;
        overflow: scroll;
        margin-bottom: 30px;
    }

    .standard-select-country label {
        margin-left: 0 !important;
        width: 50%;
    }

    .modal-body {
        padding-top: 10px;
    }

    .modal-body .control-label {
        background: #ddd;
        padding: 5px;
        width: 100%
    }
</style>
<section class="content-header">
    <h1>
        修改运费模板
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="main"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">运费</a></li>
        <li class="active">修改运费模板</li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">

        <!-- 运费设置开始 -->
        <div class="titlebox" id="shippingmodelidTip_1">
            <a id="a_shippingmodelid"></a>
        </div>
        <!-- 运费设置列表开始 -->
        <div class="j-list-item">
            <!-- 大标题开始 -->
            <div class="mainlayout clearfix j-shippingarea-container">
                <div class="ui-tab ui-tab-normal tab-wrap logistics-container ui-switchable" data-name="loc-cn"
                     data-country="CN" data-widget-cid="widget-5">

                    <div class="ui-tab-body ui-switchable-content" id="logistic-list">
                        <div class="modal fade in" id="create-country-standard" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span
                                                    aria-hidden="true">×</span><span class="sr-only">Close</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">设置国家运费规则</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label class="control-label"> 选择国家：
                                            </label>
                                            <div class="form-group standard-select-country" style="padding: 0">
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#create-country-standard').modal({
                                                    keyboard: true
                                                })
                                                let expect = '<%= expected_delivery %>'
                                                let country = '<%= country_name %>'
                                                let fees = '<%= transport_fees %>'
                                                let type = '<%= type %>'
                                                console.log(fees)
                                                console.log(typeof country)
                                                var expect_fromd = expect.split('~')


                                                $('#create-country-standard input[name="create-country-express-day-between"]').val(expect_fromd[0])
                                                $('#create-country-standard input[name="create-country-express-day-to"]').val(expect_fromd[1])
                                                $('#create-country-standard input[name="create-country-baoyou"]').val('<%= free_ship.fee_quantity %>')

                                                $.ajax({
                                                    type: 'get',
                                                    url: '/admin/country?type=ordinary',
                                                    dataType: 'json',
                                                    success: function (data) {
                                                        console.log(data)
                                                        if (data.succeed == true) {
                                                            data.msg.forEach(function (item) {
                                                                $('.standard-select-country').append('<label class="checkbox-inline"><input  type="checkbox" id="' + item.country_cn_name + '" name="country" class="country-select-standard" value="' + item.country_cn_name + '"><a title="' + item.country_code + '" class="country-icon country-' + item.country_code + '"></a>' + item.country_cn_name + '</label>');
                                                            })

                                                            setTimeout(() => {
                                                                <% country_name.forEach(function(name){ %>
                                                                $('#' + '<%= name %>').attr('checked', true)
                                                                <% }) %>
                                                            }, 1000)
                                                        } else {
                                                            alert('参数有误，创建失败！')
                                                        }
                                                    },
                                                    error: function (data) {
                                                        alert('参数有误，创建失败！')
                                                    }
                                                })


                                                //继续添加
                                                $('.add-create-seleted').on('click', function () {
                                                    var div = $(this).parent().parent().find('div').eq(0);
                                                    div.append('<div class="form-group yunfei-form-group">'
                                                        + '<input style="width: 13%;" type="text" name="create-country-express-fee-range">KG以内，'
                                                        + '<input style="width: 13%;" type="text" name="create-country-express-fee">RMB,'
                                                        + '每增加<input style="width: 13%;" type="text" name="create-country-express-fee-range">KG,增加运费'
                                                        + '<input style="width: 13%;" type="text" name="create-country-express-fee">RMB'
                                                        + '</div>'
                                                    );
                                                })

                                                //新增国家提交
                                                $('#country-select-standard').click(function () {
                                                    var country = [],
                                                        transportFee = [],
                                                        expressGuahaoFee = $('#create-country-standard input[name="create-country-express-guahao-fee"]').val(),
                                                        expressBetweenFrom = $('#create-country-standard input[name="create-country-express-day-between"]').val(),
                                                        expressBetweenTo = $('#create-country-standard input[name="create-country-express-day-to"]').val(),
                                                        expressBaoyou = $('#create-country-standard input[name="create-country-baoyou"]').val(),
                                                        formData = [];
                                                    $('#create-country-standard input[name="country"]:checked').each(function () {
                                                        country.push($(this).val());
                                                    })
                                                    formData['transport_fees'] = [];
                                                    var fee = [];

                                                    $('.yunfei-oridinary-form-group').each(function () {
//                                                    formData['transport_fees'][$(this).index()]['transport_add_fee'] = $(this).children('input[name="create-country-express-fee-add"]').val();
                                                        var index = $(this).index();
                                                        fee[index] = {
                                                            'transport_default_quantity': $(this).children('input[name="create-country-oridinary-fee-range"]').val(),
                                                            'transport_default_fee': $(this).children('input[name="create-country-oridinary-fee"]').val(),
                                                            'transport_add_quantity': $(this).children('input[name="create-country-oridinary-fee-add-quantity"]').val(),
                                                            'transport_add_fee': $(this).children('input[name="create-country-oridinary-fee-add"]').val()
                                                        };
                                                    })
                                                    formData['transport_fees'] = fee

                                                    if (country.length == 0) {
                                                        layer.tips("#create-country-standard", "请选择国家")
                                                    } else if (expressGuahaoFee == "") {
                                                        layer.tips('#create-country-standard input[name="create-country-express-guahao-fee"]', "请输入挂号费")
                                                    } else {
                                                        formData = {
                                                            'country_name': country,//国家名称
                                                            'registered_fee': expressGuahaoFee || "",//挂号费
                                                            'expected_delivery': expressBetweenFrom + '~' + expressBetweenTo,
                                                            'transport_fees': fee
                                                        };
                                                        formData['free_ship'] = {
                                                            "fee_quantity": expressBaoyou,
                                                            "fee_status": expressBaoyou ? true : false
                                                        }
                                                        console.log(formData)

                                                        formData['_id'] = '<%= _id %>'

                                                        let putCountry = {
                                                            type: type == "ordinary" ? "ordinary" : "express",
                                                            code: country
                                                        }
                                                        //更新国家
                                                        $.ajax({
                                                            type: 'put',
                                                            url: '/admin/country',
                                                            data: {
                                                                data: JSON.stringify(putCountry)
                                                            },
                                                            dataType: 'json',
                                                            success: function () {
                                                            },
                                                            error: function () {
                                                                alert('参数有误，创建失败！')
                                                            }
                                                        })

                                                        $.ajax({
                                                            type: 'put',
                                                            url: '/admin/fee-parcel-country',
                                                            data: {
                                                                data: JSON.stringify(formData)
                                                            },
                                                            dataType: 'json',
                                                            success: function (data) {
                                                                if (data.succeed == true) {
                                                                    layer.alert("修改成功")
                                                                    window.location = '/admin/shopping_template'
                                                                } else {
                                                                    alert('参数有误，创建失败！')
                                                                }
                                                            },
                                                            error: function (data) {
                                                                alert('参数有误，创建失败！')
                                                            }
                                                        })
                                                    }
                                                })

                                            })
                                        </script>
                                        <div class="form-group">
                                            <label class="control-label"> 运费设置：
                                                <button type="button" class="btn btn-default btn-xs add-create-seleted">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </label>
                                            <div class="form-group">
                                                <div class="form-group yunfei-oridinary-form-group">
                                                    <input style="width: 13%;" type="text"
                                                           name="create-country-oridinary-fee-range">KG以内，<input
                                                            style="width: 13%;" type="text"
                                                            name="create-country-oridinary-fee">RMB,每增加<input
                                                            style="width: 13%;" type="text"
                                                            name="create-country-oridinary-fee-add-quantity">KG,增加运费<input
                                                            style="width: 13%;" type="text"
                                                            name="create-country-oridinary-fee-add">RMB
                                                </div>
                                            </div>
                                            订单总重量达到<input type="text" name="create-country-baoyou">KG以上包邮
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label"> 预计运达时间</label>
                                            <div class="input-group">
                                                <input class="form-control" type="text"
                                                       name="create-country-express-day-between">
                                                <div class="input-group-addon"
                                                     style="border-radius: 0px!important;border-right: 0;border-left: 0;">
                                                    到
                                                </div>
                                                <input class="form-control" type="text"
                                                       name="create-country-express-day-to">
                                                <div class="input-group-addon">工作日</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                                id="country-select-standard">保存修改
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="standard-logistics-panel"
                             class="logistics-panel ui-tab-pane series-wrap ui-switchable-panel" data-role="ordinary"
                             data-series="cn-business" style="display: none;">
                            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span
                                            aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                普通类物流包括邮政挂号服务和专线类服务，全程物流追踪信息可查询。无忧物流的排他规则已取消，您可以如其他物流线路一样设置使用
                            </div>
                            <table width="100%" cellspacing="0" cellpadding="8"
                                   class="table table-bordered table-list logistic-list ui-table">
                                <thead>
                                <tr>
                                    <th width="20%">选择物流</th>
                                    <th width="40%">运费设置
                                        <span class="setting-help-icon ui-help ui-help-icon"></span>
                                    </th>
                                    <th width="40%">运达时间设置
                                        <button class="btn btn-warning btn-xs" data-toggle="modal"
                                                data-target="#create-country-standard">新增国家
                                        </button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr class="logistic-row" logisticcompany="CPAM" isdeliverycountryzone="COUNTRY"
                                    companydisplayname="">
                                    <td class="logistic-name" width="35%">
                                        <input type="checkbox" class="logistic-checkbox" id="CPAM-check"
                                               name="logistic-name" value="CPAM" checked="checked">
                                        <span id="standard-title">普通快递</span>
                                        <span class="logisticname-info ui-help ui-help-icon"></span>
                                        <div class="tip-me logisticname-tip" style="display:none;">
                                            <div class="help-content-wrap">
                                                可寄送2kg以上的普通商品，运送范围为全球，可使用速卖通线上发货，专享线上发货合约价及服务保障！<br>
                                                <a href="#" target="_blank">了解详情</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="logistic-commit-standard" width="35%">
                                        <div class="set-logistic">
                                            <input class="standard-logistic" name="freight-mode-CPAM"
                                                   value="all_standard"
                                                   type="radio" checked="checked">
                                            <span>标准运费</span>
                                            <span class="decount-box">
    减免
    <input id="decount-box-input-CPAM" value="0" class="decount-box-input"
           size="2" maxlength="2" name="freight-reduce-count-CPAM">
    %
    <span class="decount-help-link ui-help ui-help-icon"></span>
    <span class="discountBox" style="">即<span
                class="discountHook">全</span>折</span>

    </span>
                                        </div>

                                        <div class="set-logistic">
                                            <input class="no-logistic" name="freight-mode-CPAM" value="all_free"
                                                   type="radio">
                                            卖家承担运费
                                            <span class="freeshipping-box" style="display: none;">Free Shipping</span>
                                        </div>
                                        <label>燃油附加费:</label>
                                        <input placeholder="燃油附加费" value="12" class="" size="10" maxlength="10"
                                               name="ranyoufei">%
                                    </td>
                                    <td width="30%">
                                        <div class="set-commit-time">
                                            <input class="standard-commit-time" name="arrival-time-mode-CPAM"
                                                   value="all_standard" type="radio">
                                            承诺运达时间
                                            <input id="time-box-input-CPAM"
                                                   class="time-box-input ui-textfield ui-textfield-system" size="2"
                                                   maxlength="2" name="arrival-time-days-CPAM" value="">
                                            天
                                        </div>

                                        <div class="set-commit-time">
                                            <input id="custom-commit-time-CPAM" class="custom-commit-time"
                                                   name="arrival-time-mode-CPAM" value="self_define" type="radio"
                                                   logisticcompany="CPAM" isdeliverycountryzone="COUNTRY"
                                                   checked="checked">
                                            <label for="custom-commit-time-CPAM" class="custom-time">
                                                自定义运达时间
                                            </label>
                                            <textarea class="custom-commit-time-content"
                                                      name="arrival-time-custom-setting-CPAM"></textarea>
                                        </div>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!------- 大标题结束 ------->
            <!------- 运费设置列表开始 ------->
        </div>

    </div>
</section>

