<% layout('master.ejs') %>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <script>
            $(function () {
            })
        </script>

        <!-- ========== SLIDER END ========== -->

        <!-- ========== CONTENT START ========== -->

        <section id="content">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">For Woman</a></li>
                    <li class="active">Subcat #1</li>
                </ol>

                <div class="row">

                    <div class="col-sm-12 second-menu">

                        <ul class="products row">
                            <% if(product.length != 0 ) {%>
                            <% product.forEach(function(item){%>
                            <li class="col-sm-3">
                                <div class="product">
                                    <div class="thumbnail">
                                        <a href="<%=item.secondUrl %>"><img src="/tmp/<%=item.secondImages%>" alt=""></a>
                                        <a href="#" class="add-to-cart" title="Add to Cart">
                                          <span class="fa-stack fa-2x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-shopping-cart  fa-stack-1x fa-inverse"></i>
                                          </span>
                                        </a>
                                    </div>
                                    <hr>
                                    <div class="title">
                                        <h3><a href="#"><%=item.secondTitle%></a></h3>
                                        <!--<p>by Jack &amp; Jones</p>-->
                                    </div>
                                </div>
                            </li>

                            <%})%>
                            <% } %>

                        </ul>

                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>

                    </div>
                    <div class="col-sm-12 third-menu">

                        <ul class="products row">
                            <% if(product.length != 0 ) {%>
                            <% product.forEach(function(item){%>
                            <li class="col-sm-3">
                                <div class="product">
                                    <div class="thumbnail">
                                        <a href="<%=item.secondUrl %>"><img src="/tmp/<%=item.secondImages%>" alt=""></a>
                                        <a href="#" class="add-to-cart" title="Add to Cart">
                                          <span class="fa-stack fa-2x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-shopping-cart  fa-stack-1x fa-inverse"></i>
                                          </span>
                                        </a>
                                    </div>
                                    <hr>
                                    <div class="title">
                                        <h3><a href="#"><%=item.secondTitle%></a></h3>
                                        <!--<p>by Jack &amp; Jones</p>-->
                                    </div>
                                </div>
                            </li>

                            <%})%>
                            <% } %>

                        </ul>

                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>

                    </div>

                </div>

            </div>
        </section>

    </section>

    <!-- Main content -->

</div>

<script>
    $(function () {
        $('#zlight-nav').zlightMenu();
    });
</script>
<!-- ========== CONTENT END ========== -->

<!-- ========== CONTENT START ========== -->

<%= product[0]  %>

<!-- ========== CONTENT END ========== -->

<script>

</script>