<% layout('master.ejs') %>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <script>
            $(function () {
                $('#menu-master').off();
                $('.nav-top').off();
                $('.submenu').show();
                $('.slide-fa').show();
                $('.caret').remove();
                $.ajax({
                    type: 'GET',
                    url: '/getBanner',
                    data: {},
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        if (data.length != 0) {
                            data.forEach(function (item, index) {
                                var mybannerHtml = '<div class="item"><a href="#"><img src="' + item.image_url + '" alt=""></a></div>';
                                $('.carousel-inner').append(mybannerHtml);
                                var olBanner = '<li data-target="#bs-carousel" data-slide-to="' + index + '"></li>';
                                $('.carousel-indicators').append(olBanner);
                            })

                            $('.carousel-inner .item').eq(0).addClass('active');
                            $('.carousel-indicators li').eq(0).addClass('active');
                        }
                    },
                    complete: function () {
                        $('.carousel').carousel();
                    }
                });
            })
        </script>

        <!-- ========== SLIDER END ========== -->

        <!-- ========== CONTENT START ========== -->

        <section id="content">
            <div class="container">

                <div class="row ad-banners">
                    <div class="col-sm-4">
                        <a href="#"><img src="../assets/img/images/ad-1.png" alt=""></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#"><img src="../assets/img/images/ad-2.png" alt=""></a>
                        <a href="#"><img src="../assets/img/images/ad-3.png" alt=""></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#"><img src="../assets/img/images/ad-4.png" alt=""></a>
                    </div>
                </div>

                <div class="products-carousel products-small products">

                    <div class="banner">
                        <img src="../assets/img/images/30-off.png" alt="">
                    </div>

                    <div class="carousel">
                        <div>
                            <div class="product">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/204x204" alt=""></a>
                                </div>
                                <hr>
                                <div class="title">
                                    <h3><a href="#">Reshape Panties</a></h3>
                                    <p>by Jack &amp; Jones</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="product">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/204x204" alt=""></a>
                                </div>
                                <hr>
                                <div class="title">
                                    <h3><a href="#">Reshape Panties</a></h3>
                                    <p>by Jack &amp; Jones</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="product">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/204x204" alt=""></a>
                                </div>
                                <hr>
                                <div class="title">
                                    <h3><a href="#">Reshape Panties</a></h3>
                                    <p>by Jack &amp; Jones</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="product">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/204x204" alt=""></a>
                                </div>
                                <hr>
                                <div class="title">
                                    <h3><a href="#">Reshape Panties</a></h3>
                                    <p>by Jack &amp; Jones</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="product">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/204x204" alt=""></a>
                                </div>
                                <hr>
                                <div class="title">
                                    <h3><a href="#">Reshape Panties</a></h3>
                                    <p>by Jack &amp; Jones</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="product">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/204x204" alt=""></a>
                                </div>
                                <hr>
                                <div class="title">
                                    <h3><a href="#">Reshape Panties</a></h3>
                                    <p>by Jack &amp; Jones</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="product">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/204x204" alt=""></a>
                                </div>
                                <hr>
                                <div class="title">
                                    <h3><a href="#">Reshape Panties</a></h3>
                                    <p>by Jack &amp; Jones</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="product">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/204x204" alt=""></a>
                                </div>
                                <hr>
                                <div class="title">
                                    <h3><a href="#">Reshape Panties</a></h3>
                                    <p>by Jack &amp; Jones</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <% if(categories.length != 0){ %>
                <% categories.forEach(function (item) { %>
                <h2 class="align-center unbranded"><a href="<%= item.firstUrl %>"><%= item.firstCategory %></a></h2>
                <div class="gap-25"></div>
                <ul class="products row">
                    <% if(item.secondCategory.length != 0) { %>
                    <% item.secondCategory.forEach(function(secondItem) { %>
                    <% if(secondItem.thirdTitles.length != 0) { %>
                    <% secondItem.thirdTitles.forEach(function (thirdItem) { %>
                    <li class="col-sm-3">
                        <div class="product">
                            <div class="thumbnail">
                                <a href="<%= thirdItem.thirdUrl %>">
                                    <img src="images/<%= thirdItem.thirdImages %>" alt=""></a>
                                <a href="#" class="add-to-cart" title="Add to Cart">
                                  <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-shopping-cart  fa-stack-1x fa-inverse"></i>
                                  </span>
                                </a>
                            </div>
                            <hr>
                            <div class="title">
                                <h3>
                                    <a href="<%= thirdItem.thirdUrl %>">
                                        <%= thirdItem.thirdTitle %>
                                    </a>
                                </h3>
                            </div>
                            <span class="price">$18</span>
                        </div>
                    </li>

                    <% }) %>
                    <% } %>

                    <% }) %>
                    <% } %>
                </ul>
                <% }) %>
                <% } %>

                <h2 class="align-center unbranded">Browse Our Store</h2>
                <div class="gap-25"></div>

                <ul class="products row">
                    <li class="col-sm-3">
                        <div class="product">
                            <div class="thumbnail">
                                <a href="product.html"><img src="http://placehold.it/263x388" alt=""></a>
                                <a href="#" class="add-to-cart" title="Add to Cart">
                                  <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-shopping-cart  fa-stack-1x fa-inverse"></i>
                                  </span>
                                </a>
                            </div>
                            <hr>
                            <div class="title">
                                <h3><a href="#">Reshape Panties</a></h3>
                                <p>by Jack &amp; Jones</p>
                            </div>
                            <span class="price">$18</span>
                        </div>
                    </li>

                    <li class="col-sm-3">
                        <div class="product">
                            <div class="thumbnail">
                                <a href="product.html"><img src="http://placehold.it/263x388" alt=""></a>
                                <a href="#" class="add-to-cart" title="Add to Cart">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-shopping-cart  fa-stack-1x fa-inverse"></i>
              </span>
                                </a>
                            </div>
                            <hr>
                            <div class="title">
                                <h3><a href="#">Reshape Panties</a></h3>
                                <p>by Jack &amp; Jones</p>
                            </div>
                            <span class="price">$18</span>
                        </div>
                    </li>

                    <li class="col-sm-3 last">
                        <div class="product">
                            <div class="thumbnail">
                                <a href="product.html"><img src="http://placehold.it/263x388" alt=""></a>
                                <a href="#" class="add-to-cart" title="Add to Cart">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-shopping-cart  fa-stack-1x fa-inverse"></i>
              </span>
                                </a>
                            </div>
                            <hr>
                            <div class="title">
                                <h3><a href="#">Reshape Panties</a></h3>
                                <p>by Jack &amp; Jones</p>
                            </div>
                            <span class="price">$18</span>
                        </div>
                    </li>

                    <li class="col-sm-3 first">
                        <div class="product">
                            <div class="thumbnail">
                                <a href="product.html"><img src="http://placehold.it/263x388" alt=""></a>
                                <a href="#" class="add-to-cart" title="Add to Cart">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-shopping-cart  fa-stack-1x fa-inverse"></i>
              </span>
                                </a>
                            </div>
                            <hr>
                            <div class="title">
                                <h3><a href="#">Reshape Panties</a></h3>
                                <p>by Jack &amp; Jones</p>
                            </div>
                            <span class="price">$18</span>
                        </div>
                    </li>

                    <li class="col-sm-3">
                        <div class="product">
                            <div class="thumbnail">
                                <a href="product.html"><img src="http://placehold.it/263x388" alt=""></a>
                                <a href="#" class="add-to-cart" title="Add to Cart">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-shopping-cart  fa-stack-1x fa-inverse"></i>
              </span>
                                </a>
                            </div>
                            <hr>
                            <div class="title">
                                <h3><a href="#">Reshape Panties</a></h3>
                                <p>by Jack &amp; Jones</p>
                            </div>
                            <span class="price">$18</span>
                        </div>
                    </li>

                    <li class="col-sm-3">
                        <div class="product">
                            <div class="thumbnail">
                                <a href="product.html"><img src="http://placehold.it/263x388" alt=""></a>
                                <a href="#" class="add-to-cart" title="Add to Cart">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-shopping-cart  fa-stack-1x fa-inverse"></i>
              </span>
                                </a>
                            </div>
                            <hr>
                            <div class="title">
                                <h3><a href="#">Reshape Panties</a></h3>
                                <p>by Jack &amp; Jones</p>
                            </div>
                            <span class="price">$18</span>
                        </div>
                    </li>

                    <li class="col-sm-3 last">
                        <div class="product">
                            <div class="thumbnail">
                                <a href="product.html"><img src="http://placehold.it/263x388" alt=""></a>
                                <a href="#" class="add-to-cart" title="Add to Cart">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-shopping-cart  fa-stack-1x fa-inverse"></i>
              </span>
                                </a>
                            </div>
                            <hr>
                            <div class="title">
                                <h3><a href="#">Reshape Panties</a></h3>
                                <p>by Jack &amp; Jones</p>
                            </div>
                            <span class="price">$18</span>
                        </div>
                    </li>

                </ul>


            </div>
        </section>

    </section>

    <!-- Main content -->

</div>

<script>
    $(function () {
        $('#zlight-nav').zlightMenu();
    });
</script>
<!-- ========== CONTENT END ========== -->